.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.item {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.noImage {
  height: 210px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.character {
  font-size: 14px;
  color: #555;
}
