.nav {
  display: flex;
  gap: 20px;
  padding: 16px;
  border-bottom: 2px solid #ddd;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.active {
  color: red;
}

.noBorder {
  border-bottom: none;
}
